:root {
  --default: #1da1f2;
}
.App {
  height: 100vh;
  max-width: 1200px;
  margin: auto;
  display: flex;
}
.leftSidebar {
  width: 300px;
}
.middleSidebar {
  flex: 1;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
}
.rightSidebar {
  width: 300px;
}
.dev {
  border: 1px solid red;
}

.dev1 {
  border: 1px solid;
}
.dev2 {
  border: 1px solid green;
}
